.container{
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
body{
    font-family: Verdana;
    font-size: 16px;
    color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    color: D82148;
    font-size: 55px;
    font-weight: 700;
}
h3{
    font-size: 24px;
    color: 6EBF8B;
}
h4{
    font-size: 20px;
    color: 6EBF8B
}
header{
	width: 100%;
    height: 60px;
	float: left;
	background-color: 1B1A17;
    position: fixed;
}
.logo{
    width: 200px;
    height: auto;
    float: left;
}
.image1{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.object1{
    width: 100%;
}
.object2{
    width: 100%;
}
.svg{
    width: 25px;
    height: 25px;
}
nav{
    width: 700px;
    height: auto;
    float: right;
    text-align: right;
}
.button {
    border: none;
    color: D82148;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
    background-color: transparent; 
    color: D82148; 
  }
  
.button1:hover {
    background-color: D82148;
    color: white;
  }

aside{
    width: 20%;
    margin: auto;
    padding-top: 0px;
    float: left;
    background-color: 1B1A17;
    height: 3000px;
    border:5px solid;
    border-color: D82148;
}
.login{
    width: 200px;
    height: 500px;
    float: left;
    margin-left: 30px;
    margin-top: 100px;
}
article{
    width: 80%;
    margin: auto;
    padding-top: 0px;
    float: right;
}
.home{
    width: 100%;
    height: 600px;
    background-image: url(frame.png);
}
.opening{
    width: 45%;
    height: auto;
    margin-top: 150px;
    margin-left: 50px;
    color: D82148;
    float: left;
    background-color: transparent;
}

.opening2{
    color: 1B1A17;
    font-size: 20px;
}
.home-image{
    width: 40%;
    height: 620px;
    float: right;
    text-align: center;
}
.about{
    width: 100%;
    height: 1700px;
    background-color: 1B1A17; 
}
.about-me{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    float: left;
    background-color: 1B1A17;
}
.info{
    width: 40%;
    height: 250px;
    float: left;
    margin-left: 50px;
    background-color: 1B1A17;
}
.profil{
    width: 40%;
    height: 620px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    background-color: 1B1A17;
}
.biodata{
    width: 45%;
    height: 620px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    background-color: 1B1A17;
}
.skill{
    width: 40%;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    background-color: 1B1A17;
}
.education{
    width: 45%;
    height: auto;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    background-color: 1B1A17;
}
.contact{
    width: 100%;
    height: 700px;
    background-color: 1B1A17;
}
.list td{
    width: auto;
    height: 40px;
}
.list2{
    width: 600px;
}
.list2 td{
    height: 40px;
}
.contact-me{
    width: 40%;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    background-color: 1B1A17;
}
.discuss{
    float: right;
    width: 40%;
    margin-top: 160px;
    margin-right: 100px;
    background-color: 1B1A17;
}
.send {
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.send1 {
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    background-color: transparent; 
    color: white; 
  }
  
.send1:hover {
    border: none;
    background-color: D82148;
    color: white;
  }
.list3 td{
    width: 280px;
    height: 40px;
    padding-right: 30px;
}
input{
    width: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: lightgray;
}
footer{
    width: 100%;
    height: 80px;
    margin-top: -20px;
    background-color: D82148;
    float: right;
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: 1B1A17;
}